#titre
{
    margin-top: 3%;
    text-align: center;
}
.titre
{
    margin-top: 10%;
    text-align: center;
}
.para
{
    font-size: x-large;
    text-align: justify;
    margin-left: 5%;
    margin-right: 5%;
}