.logo
{
    width: auto;
    height: auto;
    margin-left: -10px;
}
#search
{
    display: inline-block;
    margin-right: 30px;
}
#bouton
{
    display: inline-block;
    margin-left: 100px;
}
#navbarSupportedContent
{
    background-color: rgb(240, 200, 200);
    margin-right: 150px;
    margin-left: 200px;
    border-radius: 40px;
}
.hero-section
{
    background-image:url(Acceuil_photo.jpeg);
    height: 500px;
    width: 1350px;
    margin-top: 9%;
    border-radius: 75px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    font-size: large;
    text-align: center;
    color: white;
    padding-top: 15rem;
}
.titre
{
    color: tomato;
    font-style: oblique;
}
.para1
{
    font-size: large;
    margin-left: 50px;
    margin-top: 15px;
    text-align: justify;

}
.img_Argent
{
    margin-top: 5rem ;
    margin-bottom: 3rem;
    height: 20rem;
    width: 30rem;
}
#Pâtisserie
{
    border-radius: 40px;
    height: 300px;
    width: auto;
}
#Cosmétique
{
    border-radius: 40px;
    height: 300px;
    width: auto;
}
#Agroalimentaire
{
    border-radius: 40px;
    height: 300px;
    width: auto;
}
h3
{
    margin-top: 5rem;
    margin-left: 75px;
}
#Gâteau
{
    margin-left: 8px;
    margin-bottom: 20px;
    height: 150px;
    width: 350px;
    border-radius: 40px;
}
.Gâteau
{
    text-align: justify;
    font-size: large;
}
.Teint
{
    margin-left: 5px;
    text-align: justify;
    font-size: large;
}
#Teint
{
    margin-left: 9px;
    margin-bottom: 20px;
    height: 150px;
    width: 350px;
    border-radius: 40px;
}
#Huile
{
    margin-left: 8px;
    margin-bottom: 20px;
    height: 150px;
    width: 350px;
    border-radius: 40px;
}
.Huile
{
    margin-left: 5px;
    text-align: justify;
    font-size: large;
}
.bas
{
    width: 8000;
    height: 350px;
    border-radius: 40px;
    background-color: rosybrown ;
    background-size: cover;
    margin-left: -10%;
    margin-right: -10%;
    margin-top: 20%;
}
.défile
{
    font-size: 90px;
    color: rosybrown;
}
.foot1
{
    padding-top: 50px;
    padding-bottom: 100px;
    margin-top: 20px;
    margin-left: 100px;
    font-size: x-large;
}
.foot2
{
    padding-top: 50px;
    padding-bottom: 100px;
    margin-top: 20px;
    margin-left: 10px;
    font-size: x-large;
}
.foot3
{
    padding-top: 50px;
    padding-bottom: 100px;
    margin-top: 20px;
    margin-left: 10px;
    font-size: x-large;
}
.icone
{
    width: 25px;
    height: 30px;
}
.droit
{
    text-align: center;
    margin-top: 20px;
}